.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.pfp-logo {
  height: 20vmin;
  pointer-events: none;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .pfp-logo {
    animation: Pfp-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #6e61fb;
  background-color: rgba(9, 18, 88, 0.2);
  
  padding: 5px;
  border-radius: 10px;
  text-shadow: 20%;
  text-underline-offset: 20%;
}

.iframe-Skrillex-Soundcloud {
  padding: 20%;
  width: 60%;
}

.Soundcloud-Skrillex {
  font-size: 10px; 
  color:  #6e61fb;
  line-break: 
  anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;

}

.Skrillex {
  color: #6e61fb; 
  text-decoration: none;
}

.SCREAM-N-SHOUT {
  color: #6e61fb; 
  text-decoration: none;
}



@keyframes Pfp-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
